includes:
    - vendor/ekino/phpstan-banned-code/extension.neon

parameters:
    bootstrapFiles:
        - config/tags.php
        - tests/bootstrap.php
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php

    excludes_analyse:
        - tests/fixtures/app/var/

    level: 1

    paths:
        - 'src'
        - 'tests'

    banned_code:
        nodes:
            #-
            #    type: Stmt_Echo
            #    functions: null
            #-
            #    type: Expr_Eval
            #    functions: null
            #-
            #    type: Expr_Exit
            #    functions: null
            -
                type: Expr_FuncCall
                functions:
                    - debug_backtrace
                    - dump
                    - passthru
                    - phpinfo
                    - print_r
                    - proc_open
                    - shell_exec
                    - system
                    - var_dump
