{% block table_of_content %}
    {% if tableOfContent is defined and tableOfContent|length > 1 %}
        <div class="table-of-content">
            <p class="title">Table of content</p>
            <ol class="list">
                {% for headline in tableOfContent %}
                    <li>
                        <a href="#{{ headline.id }}">{{ headline.content }}</a>
                        {% if headline.children is not empty %}
                            <ol class="sub-list">
                                {% for child in headline.children %}
                                    <li><a href="#{{ child.id }}">{{ child.content }}</a></li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
{% endblock %}
