stenope:
    shared_html_crawlers: true
    resolve_links:
        App\Model\Page: { route: page, slug: page }

    providers:
        App\Model\Index:
            type: files
            path: '%kernel.project_dir%/../../'
            excludes:
                - doc
                - node_modules
                - vendor
            patterns:
                - '*.md'
            depth: <=1

        App\Model\Page:
            type: files
            path: '%kernel.project_dir%/../'
            excludes:
                - app
            patterns:
                - '*.md'

    copy:
        - src: '%kernel.project_dir%/public'
          dest: .
          excludes:
              - '*.php'
        - src: '%kernel.project_dir%/../images'
          dest: './images'
        - src: '%kernel.project_dir%/../../cli.png'
          dest: './cli.png'
