body {
    margin: 0;
    padding: 0;
    font-family: 'Jaldi', sans-serif;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 100%;
    max-width: 1400px;
    padding: 2 * $gutter;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.columns {
    display: flex;
}

.sidebar {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: $gutter * 2;
    flex-basis: 20rem;

    .logo {
        font-size: 2em;
        text-decoration: none;
        color: $color-secondary;
        margin-bottom: $gutter/2;
        padding: 0 $gutter/2;

        &:hover {
            color: $color-primary;
        }
    }

}

.content {
    flex: 1;
    max-width: 100%;

    *:last-child {
        margin-bottom: 0;
    }

    pre, code, blockquote, img {
        max-width: 100%;
    }
}

.footer {
    margin-top: 3 * $gutter;
    padding-top: 3 * $gutter;
    border-top: 0.1rem solid $color-quaternary;
}
